<!-- <div class="container"> 
 -->
<h1>Welcome to Palm Island, Dubai!</h1>
  <h2>SATELLITE</h2>
    <div id="map-canvas" style="width:97%;height:380px;"></div>
      <br>
  <h2>TERRAIN</h2>
    <div id="googleMap2" style="width:97%;height:300px;"></div>
    <br>
  <h2>HYBRID</h2>
    <div id="googleMap3" style="width:97%;height:300px;"></div>
    <br>
  <h2> ROADMAP</h2>
    <div id="googleMap4" style="width:97%;height:300px;"></div>
<!-- </div> -->